build/index.html
<!DOCTYPE html>
<html lang='en' ng-app='gauge'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>Foundation for Apps</title>
    <link href='./assets/css/app.css' rel='stylesheet' type='text/css'>
    <script src='./assets/js/foundation.js'></script>
    <script src='./assets/js/templates.js'></script>
    <script src='./assets/js/app.js'></script>
    <script src='./assets/js/components.js'></script>
  </head>
  <body class='grid-frame vertical'>
    <div class='grid-block vertical' style='overflow: hidden'>
      <div class='title-bar'>
        <div class='center title title-caps'>Gauge Builder</div>
      </div>
    </div>
    <!-- .grid-block.vertical{:style => "overflow: hidden"} -->
    <!-- .task-title -->
    <!-- %h4.title-caps Datasource Filtering -->
    <div class='grid-block vertical'>
      <div class='grid-frame' ng-view vertical></div>
    </div>
  </body>
</html>

client/index.haml
!!! 5
%html{:lang => "en", "ng-app" => "gauge"}
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
        %title= "Foundation for Apps"
        %link{:href => "./assets/css/app.css", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "./assets/js/foundation.js"}
        %script{:src => "./assets/js/templates.js"}
        %script{:src => "./assets/js/app.js"}
        %script{:src => "./assets/js/components.js"}
    %body.grid-frame.vertical
        .grid-block.vertical{:style => "overflow: hidden"}
            .title-bar
                .center.title.title-caps Gauge Builder
        / .grid-block.vertical{:style => "overflow: hidden"}
        /     .task-title
        /         %h4.title-caps Datasource Filtering
        .grid-block.vertical
            .grid-frame{:vertical => true, "ng-view" => true}
