build/components/dataset_layer/datasetLayerView.html
<div class='layers-wrapper'>
  <div class='layer grid-block' ng-repeat='layer in dlCtrl.layers'>
    <div class='grid-block small-6'>
      <div class='grid-content'>
        <label>Measure:</label>
      </div>
      <div class='grid-content small-7'>
        <span class='measure' data-drop='true' data-jqyoui-options="{accept: '.measure'}" jqyoui-droppable='{multiple:true}' ng-class="layer.measure.length === 0 ? '' : 'active'" ng-model='layer.measure'>
          {{layer.measure.length === 0 ? 'drop here' : layer.measure}}
        </span>
      </div>
      <div class='grid-content small-2'>
        <div class='reset' ng-click='dlCtrl.resetMeasure($index)' ng-hide='layer.measure.length === 0'>
          <img class='iconic-color-dark' data-direction='top' icon='Reload' size='small' zf-iconic=' '>
        </div>
      </div>
    </div>
    <div class='grid-block small-5'>
      <div class='grid-content'>
        <label>Dimension:</label>
      </div>
      <div class='grid-content small-7'>
        <span class='dimension' data-drop='true' data-jqyoui-options="{accept: '.dimension'}" jqyoui-droppable='{multiple:true}' ng-class="layer.dimension.length === 0 ? '' : 'active'" ng-model='layer.dimension'>
          {{layer.dimension.length === 0 ? 'drop here' : layer.dimension}}
        </span>
      </div>
      <div class='grid-content small-2'>
        <div class='reset' ng-click='dlCtrl.resetDimension($index)' ng-hide='layer.dimension.length === 0'>
          <img class='iconic-color-dark' data-direction='top' icon='Reload' size='small' zf-iconic=' '>
        </div>
      </div>
    </div>
    <div class='grid-content small-1'>
      <div class='delete' ng-click='dlCtrl.deleteLayer($index)' ng-hide='dlCtrl.layers.length &lt; 2'>
        <img class='iconic-color-dark' data-direction='top' icon='Circle-x' size='small' zf-iconic=' '>
      </div>
    </div>
  </div>
  <div class='create-layer grid-content' ng-click='dlCtrl.createLayer()'>
    <p class='title-caps'>New Layer</p>
  </div>
</div>

client/app/shared/dataset_layer/datasetLayerView.haml
.layers-wrapper
	.layer.grid-block{"ng-repeat" => "layer in dlCtrl.layers"}
		.grid-block.small-6
			.grid-content
				%label Measure:
			.grid-content.small-7
				%span.measure{"data-jqyoui-options" => "{accept: '.measure'}", "ng-model" => "layer.measure", "data-drop" => "true", "jqyoui-droppable" => "{multiple:true}", "ng-class" => "layer.measure.length === 0 ? '' : 'active'"}
					{{layer.measure.length === 0 ? 'drop here' : layer.measure}}
			.grid-content.small-2
				.reset{"ng-hide" => "layer.measure.length === 0", "ng-click" => "dlCtrl.resetMeasure($index)"}
					%img.iconic-color-dark{"data-direction" => "top", "zf-iconic" => " ", :icon => "Reload", :size => "small"}
		.grid-block.small-5
			.grid-content
				%label Dimension:
			.grid-content.small-7
				%span.dimension{"data-jqyoui-options" => "{accept: '.dimension'}", "ng-model" => "layer.dimension", "data-drop" => "true", "jqyoui-droppable" => "{multiple:true}", "ng-class" => "layer.dimension.length === 0 ? '' : 'active'"}
					{{layer.dimension.length === 0 ? 'drop here' : layer.dimension}}
			.grid-content.small-2
				.reset{"ng-hide" => "layer.dimension.length === 0", "ng-click" => "dlCtrl.resetDimension($index)"}
					%img.iconic-color-dark{"data-direction" => "top", "zf-iconic" => " ", :icon => "Reload", :size => "small"}
		.grid-content.small-1
			.delete{"ng-hide" => "dlCtrl.layers.length < 2", "ng-click" => "dlCtrl.deleteLayer($index)"}
				%img.iconic-color-dark{"data-direction" => "top", "zf-iconic" => " ", :icon => "Circle-x", :size => "small"}
	.create-layer.grid-content{"ng-click" => "dlCtrl.createLayer()"}
		%p.title-caps New Layer
